.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;

  &.dark {
    background-color: #282c34;
  }

  &-title {
    margin-bottom: 30px;
  }

  &-title.dark {
    color: #fff;
  }
}